---
layout: default
title: Community
suppress_header: true
purple_bg: true
extra_css:
  - community.css
---
.community.wrapper
  .container
    .row
      .col-sm-6.col-md-4
        %a{href: "https://gitlab.com/gitlab-org/gitlab-ce/tree/master#README"}
          = image_tag "/images/icons/development.png", alt: "Source Code", id: "source-code"
          %h2 Source code
          %p
            The GitLab Community Edition source code
      .col-sm-6.col-md-4
        %a{href: "/core-team"}
          = image_tag "/images/icons/team.png", alt: "Core Team", id: "core-team"
          %h2 Core Team
          %p People behind the open-source project.
      .col-sm-6.col-md-4
        %a{href: "http://contributors.gitlab.com/"}
          = image_tag "/images/icons/development.png", alt: "Contributors", id: "contributors"
          %h2 Contributors
          %p Contributors to the open-source project.
      .col-sm-6.col-md-4
        %a{href: "/documentation"}
          = image_tag "/images/icons/documentation.png", alt: "Documentation", id: "documentation"
          %h2 Documentation
          %p All GitLab projects in one place.
      .col-sm-6.col-md-4
        %a{href: "/getting-help"}
          = image_tag "/images/icons/help.png", alt: "Getting help", id: "help"
          %h2 Getting Help
          %p How to get help and stay informed.
      .col-sm-6.col-md-4
        %a{href: "/contributing"}
          = image_tag "/images/icons/contributing.png", alt: "Contributing", id: "contributing"
          %h2 Contributing
          %p Information on how to contribute to the projects.
      .col-sm-6.col-md-4
        %a{href: "/applications"}
          = image_tag "/images/icons/apps.png", alt: "Applications", id: "applications"
          %h2 Applications
          %p List of applications which support GitLab.
      .col-sm-6.col-md-4
        %a{href: "/mvp"}
          = image_tag "/images/icons/mvp.png", alt: "Hall of fame", id: "mvp"
          %h2 Hall of Fame
          %p The most valuable persons in past releases.
      .col-sm-6.col-md-4
        %a{href: "https://gitlab.myshopify.com/"}
          = image_tag "/images/icons/swag_shop.png", alt: "Hall of fame", id: "mvp"
          %h2 GitLab Swag Shop
          %p Show off your love for GitLab.
      .clearfix.visible-sm-block
